<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TooBears</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet');

        *,
        td,
        p,
        div {
            font-family: 'Palatino Linotype';
            font-weight: 400;
            font-style: normal;
            color: #32373B;
        }
    </style>
</head>

<body style="margin:0; padding:0; background-color:#F5F5F5;">
    <div style="text-align: center;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F5F5F5">
            <tr>
                <td align="center" valign="top">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:640px;">
                        <tr>
                            <td height="15" style="font-size:10px; line-height:10px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table width="95%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff"
                                    style="margin-bottom: 8px; border-radius: 0; box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);">
                                    <tr>
                                        <td width="85px" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                bgcolor="#FFFFFF">
                                                <tr>
                                                    <td>
                                                        <img src="https://toobears.com/api/uploads/default/logo.png"
                                                            alt="Logo" width="550" style=" padding-top: 56px; width: 100%; height:auto; max-width: 191px; margin: auto;
                                                                 display: block; border-radius: 10px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <tr>
                                                                <td width="auto"
                                                                    style="padding-top: 30px; padding-bottom: 30px; text-align: start; width: 100%; font-size: 25px;  font-weight: 700; letter-spacing: -0.2px;">
                                                                    You have a new message
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                            bgcolor="#ffffff">
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0"
                                                                        border="0" bgcolor="#ffffff"
                                                                        style="border: 1px solid #94949480; border-radius: 5px;">
                                                                        <tr>
                                                                            <td style="height: 17px;"></td>
                                                                            <td style="height: 17px;"></td>
                                                                            <td style="height: 17px;"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="18"></td>
                                                                            <td>
                                                                                <table width="100%" cellpadding="0"
                                                                                    cellspacing="0" border="0"
                                                                                    bgcolor="#ffffff">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table width="100%"
                                                                                                cellpadding="0"
                                                                                                cellspacing="0"
                                                                                                border="0"
                                                                                                bgcolor="#ffffff">
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <img style="width: 40px;"
                                                                                                            src="{URL_AVATR}"
                                                                                                            alt="avatar" />
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="45">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="16">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td></td>
                                                                                                </tr>
                                                                                            </table>

                                                                                        </td>
                                                                                        <td width="11"></td>
                                                                                        <td>
                                                                                            <table width="100%"
                                                                                                cellpadding="0"
                                                                                                cellspacing="0"
                                                                                                border="0"
                                                                                                bgcolor="#ffffff">
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="font-family: 'Montserrat'; font-weight: 700; font-size: 17px; line-height: 15px;">
                                                                                                        {URL_NAME_FROM}
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="16">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="font-family: 'Montserrat'; font-weight: 400; font-size: 15px; line-height: 18px;">
                                                                                                        {URL_TEXT}
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td height="16">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        style="font-family: 'Montserrat'; font-weight: 400; font-size: 13px; line-height: 13px;">
                                                                                                        {URL_DATE} </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            <td width="18"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="17"></td>
                                                                            <td height="17"></td>
                                                                            <td height="17"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="30"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspac ing="0"
                                                                        border="0">
                                                                        <tr>
                                                                            <td width="139px">&nbsp;</td>
                                                                            <td align="center"
                                                                                style="cursor: pointer; min-width: 240px; padding: 10px 0; background-color: #fe6103b3; border-radius:10px;  color:#F5F5F5">
                                                                                <a target="_blank" href="URL_MESSENGER"
                                                                                    style="font-size:17px; font-weight:600; line-height:25px; text-align:center; text-decoration:none; color: #F5F5F5; font-family: 'Montserrat'">View
                                                                                    all</a>
                                                                            </td>
                                                                            <td width="139px">&nbsp;</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="99"
                                                                    style="font-size:10px; line-height:10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: center;">
                                                                    <a href="URL_CHANGE"
                                                                        style="margin: auto; font-family: 'Montserrat';font-size: 13px;line-height: 20px; color: #5060C2;">
                                                                        Change alert settings
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="100"
                                                                    style="font-size:10px; line-height:10px;">&nbsp;
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="85px" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
