<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TooBears</title>
        <style type="text/css">
            @import url('https://myfonts.ru/myfonts?fonts=palatino-linotype');
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

            * {
                font-family: 'Palatino Linotype';
                font-weight: 400;
                font-style: normal;
                color: #32373B;
            }

            @media only screen and (max-width:600px) {
                td.title_text {
                    font-size: 20px!important;
                    line-height: 20px!important;
                    padding-top: 100px!important;
                }
                img.img_order {
                    max-width: 212px!important;
                }
                tr.mobile_block {
                    display: block!important;
                }
                tr.mobile_none {
                    display: none!important;
                }
                .name_work {
                    font-size: 13px!important;
                    line-height: 25px!important;
                }
            }
        </style>    
    </head>
    <body style="margin:0; padding:0; background-color:#F5F5F5;">
        <div style="text-align: center;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F5F5F5">
                <tr>
                    <td align="center" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" >
                            <tr>
                                <td height="15" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="max-width: 640px; margin-bottom: 8px; border-radius: 0; box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);">
                                        <tr>
                                            <td width="55px" style="font-size:10px; line-height:10px;"></td>
                                            <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                                                    <tr>
                                                        <td>
                                                            <img class="logo" src="https://toobears.com/api/uploads/default/logo_mail_380.png" alt="Logo" width="550"
                                                                style=" padding-top: 56px; width: 100%; height:auto; max-width: 191px; margin: auto; 
                                                                display: block; border-radius: 10px;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                <tr class="mobile_none">
                                                                    <td width="auto" style="text-align: center; width: 100%; padding-top: 100px; font-size: 25px;  font-weight: 700; letter-spacing: -0.2px;">
                                                                        Congratulations!
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="title_text" width="auto" style="text-align: center; width: 100%; font-size: 25px;  font-weight: 700; letter-spacing: -0.2px;">
                                                                        You Have Received an Order!
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="48" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                                                <tr>
                                                                    <td >
                                                                        <img class="img_order" src="{URL_IMAGE_ORDER}" alt="Order"
                                                                            style="width: 100%; height:auto; max-width: 358px; margin: auto; border:1px solid #D2D2D2; display: block; border-radius: 10px;">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="43" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                                                <tr>
                                                                    <td class="name_work" style="font-size: 20px; line-height: 25px; font-weight: 700; color: #000000b3; letter-spacing: -0.2px; text-align: center;">
                                                                        {URL_NAME}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="15">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table  width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                                                            <tr>
                                                                                <td style="font-family: Montserrat; font-size: 13px; line-height: 20px; font-weight: 400; color: #000000; letter-spacing: -0.2px; text-align: start;">
                                                                                    {URL_NAME_BUYER} from {URL_FROM} placed to order! Follow up with the buyer before sending the package
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="40">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                            <tr>
                                                                                <td width="139px">&nbsp;</td>
                                                                                <td align="center" style="cursor: pointer; min-width: 240px; padding: 10px 0; background-color: #fe6103b3; border-radius:10px;  color:#F5F5F5">
                                                                                    <a target="_blank"  href="{URL_TO_ORDER}" style="font-size:17px; font-weight:600; line-height:25px; text-align:center; text-decoration:none; color: #F5F5F5; font-family: 'Montserrat'">View Order</a>
                                                                                </td>
                                                                                <td width="139px">&nbsp;</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="100" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="55px" style="font-size:10px; line-height:10px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>